.form-promo {
    border-bottom: 1px solid $c-border;
    padding-bottom: 24px;
    margin-bottom: 34px;

    &__grid {
        flex-direction: column;
        @include flex-base(flex-start, flex-start);
        margin: 0 -10px;

        @include md-up {
            flex-direction: row;
        }
    }


    &__field {
        height: 36px;
        padding: 0 10px;

        @include md-up {
            flex: 1;
            flex-grow: 2;
        }

        input {
            width: 100%;
            height: 100%;
            padding: 0 16px;
            margin: 0;
            border: 1px solid $c-border;
            border-radius: 3px;
            color: $c-text-second;
        }

        input::placeholder {
            color: $c-text-second;
        }
    }

    &__button {
        padding: 0 10px;
        flex: 0 0 auto;
    }
}
