.o2k-grid {
    &__row {
        @include flex-base();
        flex-wrap: wrap;
        margin: 0 -#{15px} 0 -#{15px};

        @include md-up {
            margin-bottom: 24px;
        }
    }

    &__row--between {
        justify-content: space-between;
    }

    &__col {
        width: 100%;
        flex: 0 0 auto;
        padding: 0 15px;
        margin-bottom: 14px;

        &:last-of-type,
        &:last-child {
            margin-bottom: 0;
        }

        &:first-of-type,
        &:first-child {
            margin-bottom: 14px;
        }

        @include md-up {
            margin-bottom: 0;
        }

        &--right {
            margin-left: auto;
        }

        &--evenly {
            @include md-up {
                flex: 1;
            }
        }

        &--full {
            width: 100%;
        }

        &--no-indent {
            margin: 0;

            &:first-of-type,
            &:first-child {
                margin: 0;
            }
        }
    }
}
