.header {
    margin-top: 20px;
}

.header__logo {
    img {
        display: block;
    }
}

.header__logo-under {
    margin: 10px auto 0;
}

.header__contact {
    min-height: 70px;
    border-bottom: 1px solid #d9d9d9;
}

.header__time {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    font-size: 12px;
}

.header__phone {
    display: block;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'robotobold', sans-serif;
    text-decoration: none;
    color: $c-text;
}

.header__location {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
}

.no-img {
    height: 70px;
    width: 254px;
    background: #e2e2e2;
}
