.o2k-link {
    position: relative;
    color: $c-accent;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;

    &__text {
        @include tr-base;
        border-bottom: 1px solid;
    }

    &:hover {
        .o2k-link__text {
            border-bottom-color: transparent;
        }
    }

    &--inner {
        .o2k-link__text {
            border-bottom-color: transparent;
        }

        &:hover {
            .o2k-link__text {
                border-bottom-color: $c-accent;
            }
        }
    }

    .o2k-link__icon-right {
        margin-left: $indent-xs;
    }
}
